* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.one {
  background: #ff9999;
  padding: 20px;
}

.one ul {
  background: #3399ff;
  padding: 20px;
}

.one ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
}
